// base color
$blue: #0f3b84;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// sidebar
$menuText: #565656;
$menuActiveText: #286780;
$subMenuActiveText: #286780;
$menuBg: whitesmoke;
$menuHover: #afafb1;
$subMenuBg: #d9d9d9;
$subMenuHover: #afafb1;
$sideBarWidth: 320px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
